<header class="header-container">
  <h1>My Portfolio</h1>
  <div class="hamburger" 
  (click)="toggleMenu()">
	&#9776;
  </div>
  <nav [class.open]="menuOpen">
	<ul>
	  <li><a (click)="route('/')">Home</a></li>
	  <li><a (click)="route('/skills')">Skills</a></li>
	  <li><a (click)="route('/experience')">Experience</a></li>
	  <li><a (click)="route('/education')">Education</a></li>
	  <li><a (click)="route('/projects')">Projects</a></li>
	  <li><a (click)="route('/contact')">Contact</a></li>
	</ul>
  </nav>
</header>