<div class="skills-container">
	<div class="skills-grid">
		<div class="skills-section">
			<h3>Languages</h3>
			<ul>
				<li>
					JavaScript
					<div class="progress-bar">
						<div class="progress" style="width: 90%;" data-percentage="90%"></div>
					</div>
				</li>
				<li>
					TypeScript
					<div class="progress-bar">
						<div class="progress" style="width: 80%;" data-percentage="80%"></div>
					</div>
				</li>
				<li>
					Python
					<div class="progress-bar">
						<div class="progress" style="width: 70%;" data-percentage="70%"></div>
					</div>
				</li>
				<li>
					Java
					<div class="progress-bar">
						<div class="progress" style="width: 60%;" data-percentage="60%"></div>
					</div>
				</li>
				<!-- Add more languages here -->
			</ul>
		</div>
		<div class="skills-section">
			<h3>Tools</h3>
			<ul>
				<li>
					Git & GitHub
					<div class="progress-bar">
						<div class="progress" style="width: 85%;" data-percentage="85%"></div>
					</div>
				</li>
				<li>
					Docker
					<div class="progress-bar">
						<div class="progress" style="width: 75%;" data-percentage="75%"></div>
					</div>
				</li>
				<li>
					Webpack
					<div class="progress-bar">
						<div class="progress" style="width: 65%;" data-percentage="65%"></div>
					</div>
				</li>
				<li>
					Jenkins
					<div class="progress-bar">
						<div class="progress" style="width: 55%;" data-percentage="55%"></div>
					</div>
				</li>
				<!-- Add more tools here -->
			</ul>
		</div>
		<div class="skills-section center-section">
			<h3>Other Skills</h3>
			<ul>
				<li>
					Agile Methodologies
					<div class="progress-bar">
						<div class="progress" style="width: 80%;" data-percentage="80%"></div>
					</div>
				</li>
				<li>
					Test-Driven Development
					<div class="progress-bar">
						<div class="progress" style="width: 70%;" data-percentage="70%"></div>
					</div>
				</li>
				<li>
					Responsive Design
					<div class="progress-bar">
						<div class="progress" style="width: 90%;" data-percentage="90%"></div>
					</div>
				</li>
				<li>
					RESTful APIs
					<div class="progress-bar">
						<div class="progress" style="width: 85%;" data-percentage="85%"></div>
					</div>
				</li>
				<!-- Add more skills here -->
			</ul>
		</div>
	</div>
</div>