/* You can add global styles to this file, and also import other style files */

body {
  background-color: #1e1e1e;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #00ff00;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
